.playerRow {
    width: 100%;
    text-align: center;
    margin:auto;
    margin-top: 2%;
    border: 1px solid black;
    border-radius: .25rem;
    align-items: center;
    padding: 1% 0%;
    font-size: var(--font-size);
}