.playerContainer {
    margin-top: 2%;
    border: 1px solid;
    border-radius: .25rem;
    text-align: center;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    position: relative;
}

.playerContainer img {
    width: 65%;
}

.playerHeader {
    align-items: center;
    margin: 10px 0px;
}

.playerBody {
    align-items: center;
    margin: 0px;
    margin-bottom: 10px;
}

.currentPlayerContainer img {
    width: 85%;
}