body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.input-group-text-fa-icon {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: 100%;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}