.ticketCard {
    cursor: var(--cursor);
    margin: auto;
    text-align: center;
    width: 70%;
    border-radius: 0.25rem;
    padding: 10% 0;
    border: 1px solid black;
    background-color: rgb(30 144 255);
    position: absolute;
    left: 12%;
    transform: rotateX(45deg);
    text-transform: uppercase;
    box-shadow: 8px -8px 5px black;
}