.mapContainer {
    background-image: url('../../../assets/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: var(--map-height);
    position: relative;
}

.overlayMap {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: .5s opacity linear;
    opacity: 0;
    z-index: -1;
}

.showOverlay {
    opacity: 1;
    z-index: 1;
}