.playerTicketContainer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.ticketStateSwitcher {
    position: absolute;
    top: var(--player-ticket-switcher-top);
    left: var(--player-ticket-switcher-left);
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: rgb(30 144 255);
    width: 76%;
    padding: 2% 0;
    transform: rotate(-90deg);
}