.section {
    width: 100%;
    margin: auto;
    padding: 2%;
    min-height: 100vh;
}

.section p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.upsidedTrainCardsImage {
    width: 50%;
}

.exampleContainer {
    border: 1px solid white;
    border-radius: .25rem;
    padding: 2% 1%;
    background-color: rgb(128 128 128 / 10%);
}

.routesImage {
    border-radius: 100%;
    border: 5px solid red;
    width: 65%;
}