.container {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-image: URL('../../assets/background.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}

.homeButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

.containerBody {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin: auto;
    background-color: rgb(0 0 0 / 90%);
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    position: relative;
    text-align: center;
    font-size: var(--font-size);
    color: white;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    font-family: var(--font-family);
    overflow: auto;
}