.gameEndModal {
    background-image: url('../../../assets/wood_background.jpeg');
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white !important;
    transition: .25s all linear;
    color: white;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
}

.modal90w {
    width: 100% !important;
    max-width: 90% !important;
}

.gameEndModal :global(.btn-close) {
    background-color: white;
    color: white !important;
    opacity: 1 !important;
}

.playerPointsHeaderInfo {
    width: 100%;
    border-radius: .25rem;
    margin: auto;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
}