.ticketCard {
    margin-top: 5%;
    margin-left: 3%;
    padding: 2% 0;
    width: 95%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: rgb(30 144 255);
    transition: .25s all linear;
    position: relative;
    cursor: pointer;
}

.ticketCard span {
    top: 34%;
    right: 5%;
}

.ticketCard:hover {
    margin-left: 10%;
}

.selectedTicketCard {
    margin-left: 10%;
    border: 3px dotted red;
}

.isGameEndedTicket {
    margin-left: 0% !important;
    cursor: initial !important;
    padding: 1% 0;
}