.ticketCard {
    position: absolute;
    top: 29%;
    left: calc(var(--left-position) + var(--player-ticket-left));
    width: 76%;
    transform: rotate(-90deg);
}

.ticketCard span {
    transform: rotate(90deg);
    top: 36%;
    left: 85%;
}

.ticketCard:hover {
    top: 10%;
    z-index: 9999;
}