.ticketCard {
    padding: 2% 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: rgb(30 144 255);
    transition: .25s all linear;
}

.ticketCard span {
    position: absolute;
}