.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: URL('../../assets/background.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBody {
    width: 50%;
    padding: 10px 5px;
    height: fit-content;
    background-color: rgb(255 255 255 / 80%);
    justify-content: center;
    border-radius: .25rem;
}