.playerContainer {
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    padding: 5px 10px;
    font-size: 2rem;
    font-weight: bold;
    margin: 5px 10px;
}

.playerContainer img {
    width: 100%
}