.notAllowed {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    background-color: rgb(0 0 0 / 40%) !important;
    cursor: not-allowed !important;
}

.notAllowed img {
    width: 45% !important;
}