.cardVariantsContainer {
    margin-top: 55px;
    overflow: auto;
    max-height: calc(var(--map-height) - 55px);
}

.cardVariantsContainer::-webkit-scrollbar {
    width: 0.5em;
}

.cardVariantsContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cardVariantsContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* outline: 1px solid slategrey; */
    border-radius: .25rem;
}

.cancelBuildButton {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 10px;
    left: 10px;
}