.historyContainer {
    background-color: rgb(255 255 255 / 10%);
    border: 1px solid black;
    border-radius: .25rem;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    margin-left: 5%;
    height: calc(100vh - var(--map-height) - 5.75%);
    padding: 2.5%;
    box-sizing: border-box;
    text-align: left;
    line-height: normal;
}

.historyContainer p {
    margin: 0.5rem !important;
}