.pin {
    position: absolute;
    width: 1.25%;
    height: 1.975%;
    background-color: gold;
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
    transition: .25s all linear;
}

.pin:hover {
    background-color: #00ff00;
    box-shadow: rgb(255 215 0 / 65%) 2px 3px 20px 20px;
    z-index: 2;
}

.selectedPin {
    background-color: blue !important;
    box-shadow: rgb(255 215 0 / 65%) 2px 3px 20px 20px;
    z-index: 2;
}