.lineVariantContainer {
    margin: auto;
    margin-top: 10%;
}

.lineVariantContainer:first-of-type {
    margin-top: 0 !important;
}

.cardVariantContainer {
    align-items: center;
    position: relative;
}

.cardVariantContainer button {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: -7.5%;
    right: -5%;
}

.cardVariantContainer > hr {
    margin-top: 5%;
    opacity: 1;
    background-color: unset;
    border: 1px dashed white;
    width: 100%;
}

.cardVariantContainer:last-of-type > hr {
    display: none;
}