.section {
    width: 100%;
    margin: auto;
    padding: 2%;
    min-height: 100vh;
}

.section p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.drawTicketImage {
    width: 100%;
}

.clickOnPinImage {
    width: 100%;
}