.landscapeCard {
    box-shadow: 8px -8px 5px black;
}

.landscapeCard:hover {
    margin-left: 0;
}

.notAllowed {
    margin-left: 50% !important;
}

.isVariantToBuild {
    margin-left: 0% !important;
    width: 100% !important;
    cursor: initial !important;
}