.portraitCard {
    position: absolute;
    top: 28%;
    margin: auto !important;
    text-transform: uppercase;
    width: 30.75%;
    padding: 4% 0;
    transform: rotate(-90deg);
}

.portraitCard span {
    transform: rotate(90deg);
    position: absolute;
    top: 36%;
    left: 85%;
}

.noRotate {
    transform: rotate(0deg) !important;
}

.portraitCard:not(.notAllowed):hover {
    top: 10%;
    z-index: 9999;
}