.card {
    margin: auto;
    margin-top: 5%;
    margin-left: 12.25%;
    text-align: center;
    width: 70%;
    border-radius: .25rem;
    padding: 8% 0;
    position: relative;
    cursor: pointer;
    transition: .25s all linear;
}

.card img {
    width: 35%;
}