:root {
    --map-height: 75vh;
    --ticket-deck-height: 20vh;
    --font-size: 1.5rem;
    --player-ticket-switcher-top: 43%;
    --player-ticket-switcher-left: -35%;
    --player-ticket-left: 0%;
}

@media screen and (max-width: 1601px) {
    :root {
        --map-height: 73.5vh;
        --ticket-deck-height: 20vh;
        --font-size: 1.25rem;
        --player-ticket-switcher-top: 43%;
        --player-ticket-switcher-left: -35%;
        --player-ticket-left: 4%;
    }
}

@media screen and (max-width: 1536px) {
    :root {
        --map-height: 74vh;
        --ticket-deck-height: 20vh;
        --font-size: 1.15rem;
        --player-ticket-switcher-top: 41.5%;
        --player-ticket-switcher-left: -35%;
        --player-ticket-left: 0%;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        --map-height: 74vh;
        --ticket-deck-height: 20vh;
        --font-size: 1rem;
        --player-ticket-switcher-top: 35.5%;
        --player-ticket-switcher-left: -28%;
        --player-ticket-left: 16.75%;
    }
}

.gameContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../../assets/wood_background.jpeg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
}