.car {
    position: absolute;
    border: 2px solid black;
    display: flex;
    align-items: center;
    border-radius: .25rem;
    transition: .5s all linear;
    opacity: 0;
}

.car hr {
    opacity: 1;
    background-color: unset;
    border: 1px dashed white;
    width: 100%;
}

.availableConnectionCar {
    border: 2px dashed red;
    opacity: 1 !important;
    box-shadow: rgb(255 215 0 / 55%) 0 0 20px 10px;
    z-index: 100;
}

.animatedCar {
    box-shadow: rgb(255 215 0 / 55%) 0 0 20px 10px;
    z-index: 100;
}

.completedTicketConnectionCar {
    border: 2px dashed blue;
    opacity: 1 !important;
    box-shadow: rgb(255 215 0 / 55%) 0 0 20px 10px;
    /* box-shadow: rgb(0 0 255 / 55%) 0 0 20px 10px; */
    z-index: 100;
}